@import url("styles.css");

.index-body {
    background-color: var(--blue);
}

.index {
    margin-top: 15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.index-logo {
    color: var(--light-gray);
    margin-bottom: 1rem;
}

.index-btns {
    display: flex;
    flex-direction: column;
}

.index-btns .btn {
    margin-bottom: 2rem;
    background-color: var(--light-gray);
    color: var(--blue);
    border-radius: 6px;
}
